*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --quantity: 16;
}

body{
    padding: 20px; 
    font-family: sans-serif;
    background-image: url("background.jpg");
}

.container{
    display: grid;
    grid-template-columns: repeat(var(--quantity), 1fr);
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
}
.container > div{
    
    aspect-ratio: 1;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    width: 100px;
    padding: 15px 0;
    margin-bottom: 20px;
}

#black,
#random,
#erase{
    margin-top: 20px;
}

         
#black,
#btn {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

         
#random {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
 
           
#erase,
#resetBtn {
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: black;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
